.mainBody{
    background: #c7c1c1;
}

.exterior{
    padding-left: 150px;
    padding-top: 90px;
}

.leftColomn{
    float:left;
    display: inline-block;
    width:auto;
    background-color:white;
    border-radius: 5px;
}

.rightColomn{
    margin: 2px;
    margin-left: 10px;
    display:inline-block;
    text-align: center;
    border-radius: 5px;
    width:280px;
    background-color:white;
}


.outOfBox{
    margin:12px;
}

.inTopBox{
    margin:10px;
}

.product {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-top: 10px;
    line-height: 35px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7ebe6;
}

.nameOfTheRow {
    display: inline;
    width: auto;
    font-family: "Arial";
    font-size: 85%;
    padding-left: 5px;
}

.textAboutPr{
    padding-left:5px;
}


.allButtons{
    float:right;
}

.buttonsAndNumber{
    display: inline-block;
    margin-right: 10px;
}

.minButton{
    min-width: 5px;
    min-height: 5px;
    padding:5px 10px 5px 10px;
    line-height: normal;
    border-radius: 100%;
    font-weight: 500;
    opacity: 0.8;
    background-color: #ffc2fd;
    border-color: #fcc0f6;
    border-width: 3px;


}

.plusButton{
    min-width: 5px;
    min-height: 5px;
    border-width:3px;
    background-color: #21ba45;
    padding: 5px 10px 5px 10px;
    line-height: normal;
    border-radius: 100%;
    font-weight: 500;
    opacity: 0.8;
    border-color: #1db505;
}


.itemsCounter{
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    background-color: #f5e1ae;
    font-size: 75%;
    font-family: "Arial";
    color: #828281;
}

.addButton{
    display: inline-block;
    width:60px;
    height: 24px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    display:inline-block;
    font:"Times New Roman";
    background-color: #ded3d3;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 4px, 4px, 3px, 3px;
    
}

.plusesAndMin{
   display: inline-block;
   margin-right: 8px;
}

.choiceButtons{
    display: inline-block;
    margin-right: 15px;
}

.bought {
    min-width: 5px;
    min-height: 5px;
    padding:5px 8px 5px 8px;
    margin-left:15px;
    line-height: normal;
    border-radius: 15%;
    font-weight: 500;
    opacity: 0.8;
    border-width: 3px;
    color: #454343;
    background: #e5e4e1;
    box-shadow:3px 3px 5px #bab8b8;

}

.delete{
    min-width: 5px;
    min-height: 5px;
    padding:4px 8px 4px 6px;
    line-height: normal;
    border-radius: 4px;
    font-weight: 500;
    opacity: 0.8;
    background-color: #999393;
    border-width: 3px;
    color: white;
    border-radius: 3px;
    background: #ed2415;
    box-shadow:3px 3px 5px #c7c5c7;
    border-color: #f5c8ba;
}

.howMuchAreBought{
    border-top-color: #d4d2cf;
    border-top-width: 1px;
    padding: 8px;
    border-top-style: solid;
}

.nameOfBought{
    padding-left:6px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 2px;
    display: inline-block;
}

.infOfProd{
    min-width: 5px;
    min-height: 5px;
    padding: 3px 7px 3px 7px;
    line-height: normal;
    border-radius: 100%;
    font-weight: 500;
    opacity: 0.8;
    color: #edeceb;
    background-color:#e8ae1a; 
}

.boughtInform{
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d4d2cf;
}

.list{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #d4d2cf;
    padding:20px;
}
